### Importing libraries

In [6]:
import pandas as pd
import numpy as np

### Multivariate feature imputation
#### IterativeImputer
https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html

This estimator is still experimental for now

In [7]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [8]:
imp = IterativeImputer(max_iter=100, random_state=0)

In [9]:
features = [[4, 2, 1], 
            [24, 12, 6], 
            [8, np.nan, 2], 
            [28, 14, 7], 
            [32, 16, np.nan], 
            [600, 300, 150], 
            [np.nan, 60, 30], 
            [np.nan, np.nan, 1]]

In [10]:
imp.fit(features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=100, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, tol=0.001, verbose=0)

In [11]:
imp.transform(features)

array([[  4.        ,   2.        ,   1.        ],
       [ 24.        ,  12.        ,   6.        ],
       [  8.        ,   4.01925644,   2.        ],
       [ 28.        ,  14.        ,   7.        ],
       [ 32.        ,  16.        ,   4.01031569],
       [600.        , 300.        , 150.        ],
       [119.9920888 ,  60.        ,  30.        ],
       [116.90046795,  58.42123403,   1.        ]])

#### By fitting the model it understand that each value in a row is half of the previous value so now if we will give some 2D array which contains NaN values, it is fill the values according to the pattern it learned
We can see that for two NaN values it is not as accurate as for one NaN value

In [12]:
X_test = [[np.nan, 24, 12], 
          [36, np.nan, np.nan], 
          [100, np.nan, 25], 
          [np.nan, 6, 3],
          [np.nan, 8, np.nan]]

In [13]:
imp.transform(X_test)

array([[4.79908248e+01, 2.40000000e+01, 1.20000000e+01],
       [3.60000000e+01, 1.79989203e+01, 5.00846570e+00],
       [1.00000000e+02, 5.00181107e+01, 2.50000000e+01],
       [1.19901928e+01, 6.00000000e+00, 3.00000000e+00],
       [1.59995770e+01, 8.00000000e+00, 1.71988938e-02]])

In [14]:
diabetes = pd.read_csv('datasets/diabetes_processed_incomplete.csv')

diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.000000,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.000000,32.0,NaN,23.3,0.672,32,1
3,1,89.0,66.000000,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.000000,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.000000,32.0,NaN,25.6,0.201,30,0
6,3,78.0,50.000000,32.0,88.0,31.0,0.248,26,1
7,10,115.0,72.405184,32.0,NaN,35.3,0.134,29,0
8,2,197.0,70.000000,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.000000,32.0,NaN,32.0,0.232,54,1

In [15]:
diabetes.shape

(768, 9)

In [16]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null float64
BloodPressure               768 non-null float64
SkinThickness               768 non-null float64
Insulin                     394 non-null float64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [17]:
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                     374
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [18]:
diabetes_features = diabetes.drop('Outcome', axis=1)
diabetes_label = diabetes[['Outcome']]

diabetes_features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31
2,8,183.0,64.0,32.0,NaN,23.3,0.672,32
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33

In [19]:
imp = IterativeImputer(max_iter=10000, random_state=0)

In [20]:
imp.fit(diabetes_features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10000, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, tol=0.001, verbose=0)

In [21]:
diabetes_features_arr = imp.transform(diabetes_features)

In [22]:
diabetes_features_arr.shape

(768, 8)

In [23]:
diabetes_features = pd.DataFrame(diabetes_features_arr, columns=diabetes_features.columns)

diabetes_features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,219.028414,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,70.341550,26.6,0.351,31.0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0

In [24]:
diabetes = pd.concat([diabetes_features, diabetes_label], axis=1)

diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,219.028414,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,70.341550,26.6,0.351,31.0,0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0,1

In [25]:
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [26]:
diabetes.to_csv('datasets/diabetes_processed.csv', index=False)

!ls datasets

GoSales_Tx_LogisticRegression.csv cars_processed.csv
auto-mpg.csv                      diabetes.csv
auto_mpg_processed.csv            diabetes_processed.csv
cars.csv                          diabetes_processed_incomplete.csv